name: Keep GitHub Actions Alive
on:
  schedule:
    - cron: "0 0 */25 * *"
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  keepalive:
    runs-on: ubuntu-latest
    steps:
      - uses: gautamkrishnar/keepalive-workflow@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
